// Colors
$purple: #854dff;
$light-red: hsl(0, 100%, 67%);

// Neutral colors
$white: hsl(0, 0%, 100%);
$off-white: hsl(0, 0%, 94%);
$light-grey: hsl(0, 0%, 86%);
$smokey-grey: hsl(0, 1%, 44%);
$off-black: hsl(0, 0%, 8%);

// Typography
$body-copy-font-size: 32px;

$break-point-mobile: 700px;
