.age-calculator-input-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  .age-calculator-input-title {
    font-weight: 400;
    font-size: small;
    color: $smokey-grey;
  }
  .age-calculator-input-title.error {
    color: $light-red;
  }
  .age-calculator-input {
    width: 8.5rem;
    padding: 0.5rem 1rem;
    font-size: x-large;
    border-radius: 0.5rem;
    border: 1px solid $light-grey;
    font-weight: bold;
    transition: all 0.3s ease;
    &:focus {
      outline: 1px solid $purple;
    }
  }
  .age-calculator-input.error {
    border: 1px solid $light-red;
  }
  .age-calculator-input-error {
    font-size: small;
    font-weight: 400;
    color: $light-red;
  }
  @media screen and (max-width: $break-point-mobile) {
    .age-calculator-input {
      width: 5rem;
      font-size: large;
    }
  }
}
